<div class="root">
	<div class="row">
		<div class="span12">
			<div class="row">
				<div class="span8">
					<div class="grey-box">
						<h3>Post</h3>
						
						<div id="recent_posts">
							<%#= render :partial => 'recent_post' %>
						</div>
						
					</div>
				</div>
				<div class="span4">
					<!-- <div class='black-transparent-box'> -->
					<div class='grey-box'>	
						<h3>Welcome to DMS BCM</h3>
						<hr />
						<p>
						Have too many contacts to track? DMSBCM allows you to combine
						your business contacts, and conversations into a single - easy to
						navigate interface. Check it out!
						</p>
					</div>
					<!-- </div> -->
			          	
				</div>
			</div>
	 	</div>
	</div>
</div>